*{
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --primary-color:#fff;
    --primary-color-rgb:255, 255, 255;
    --secondary-color:#121212;
    --secondary-color-rgb:18, 18, 18;
    --text-primary-color:#292929;
    --text-primary-color-rgb:41, 41, 41;
    --text-secondary-color:#cc3333;
    --text-secondary-color-rgb:204, 51, 51;
    --description-color-dark-300:#292929c9;
    --description-color-dark-300-rgb:41, 41, 41, 0.788;
    --description-color-dark:#666;
    --description-color-light:#ffffff;
    --primary-font-style: Roboto;
    --secondary-font-style: Lobster Two,cursive;
    --bg:#fff;
    --fs:15px;
    --fw: 500;
    --ln:1.5;
    --gw:15px;

}
body{
    background-color: var(--bg);
    font-style: var(--font-style);
    color: var(--text-primary-color);
    font-weight: var(--gw);
    font-weight: var(--fw);
    line-height: var(--ln);

}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    max-width: 100%;
    display: block;

}
ol,ul{
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--primary-font-style);
    font-weight: 700;
    line-height: var(--ln);

}
h1{
    font-size: 50px;
}
p{
    font-size: var(--fs);
    font-family: var(--primary-font-style);
    color: var(--description-color-dark);
    font-weight: 400;
}
.btn{
    display: inline-block;
    background-color: var(--text-secondary-color);
    color: var(--primary-color);
    padding: 10px 25px;
    border: none;
    border-radius: 3;
    
}
.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gw);
    padding-right: var(--gw);
    height: auto;
    position: relative;
    
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(1* var(--gw));
    margin-right: calc(1* var(--gw));
    /* background-color: black; */
    max-width: 1320px;
    margin: 0px auto;
    
    
}
.col-one{
    width: 8.33%;
}
.col-two{
    width: 16.66%;
}
.col-three{
    width: 25%;
}
.col-four{
    width: 33.33%;
}
.col-five{
    width: 41.66%;
}
.col-six{
    width: 50%;
}
.col-seven{
    width: 58.33%;
}
.col-eight{
    width: 66.66%;
}
.col-nine{
    width: 75%;
}
.col-ten{
    width: 83.33%;
}
.col-eleven{
    width: 91.66%;
}
.col-twelve{
    width: 100%;
}
.col-one,.col-two,.col-three,.col-four,.col-five,.col-six,
.col-seven,.col-eight,.col-nine,.col-ten,.col-eleven,.col-twelve{
    padding-right: var(--gw);
    padding-left: var(--gw);

}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.justify-start{
    justify-content: flex-start;
}
/* topbar */

nav{
    display: block;
}
.logo{
    
    height: auto;
    width: 150px;
    
}

.contact{
    display: inline-flex;
    color: var(--description-color-dark);
    margin: 10px;
    gap: 10px;
    transition: all 0.5s ease;
    
}

.contact:hover, .nav-list li a:hover,.nav-list li i:hover{
    transform: scale(1.2s, 0.5s);
    color:var(--text-secondary-color);
    
}
.contact img{
    gap: 10px;
}
.container .col-twelve{
    position: fixed;
    max-width: 1320px;
    padding-top: 10px;
    z-index: 1;
    transition: all .03s ease;
    background-color: var(--primary-color);
    
}

.nav-list{
    display: flex;
    gap: 30px;
    margin: 20px; 
    position: relative;
    flex-wrap: wrap;
    
}
.nav-list li a {
    text-decoration: none;
    font-weight: var(--fw);
    color: var(--description-color-dark);
    /* transition: all 0.5s ease; */
    
}


.container .col-nine{
    position: absolute;
    right: 0;
    left: -10;
    
}
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown .dropdown-menu{
    display: block;
    position: absolute;
    top: 120%;
    border-top: 3px solid red;
    visibility: hidden;
    transition: all 0.1s ease;
    
}
.dropdown-menu ul li a{
    display: block;
    padding: 10px 10%;
    line-height: 25px;
    width: 200px;
    background-color: var(--primary-color);
    box-shadow: 1px 17px 20px 1px #5958581c;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 15px;   
}
.dropdown-menu ul li a:hover{
    background-color: lightgray;
    transform: scale(0.8s);
    visibility: visible;
}
.dropdown:hover .dropdown-menu{
    visibility: visible;
    transform: scale(1.3s);
}
.dropdown img{
    margin: 3px;
    padding-top: 5px;
    color: var(--description-color-light);
    width: 12px;
    
   
}
.dropdown:hover img{
    
    transform: rotate(180deg);
    margin-top: 8px;
    
}
/* Banner */
.banner{
    background-image: url(../images/banner-bg.jpg);
    height: 760px;
    display: block;
}
.banner .row{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    line-height: 20px;
   
}

.banner-details{
    margin-right: 10px;
    margin-top: 10%;
    position: absolute;
    top: 100px;
    left: 0;
    
    
}
.s-title{
    color: var(--text-secondary-color);
    font-size: 23px;
    font-weight: 600;
    font-family: var(--secondary-font-style);
    display: inline-block;
    margin-bottom: 10px;
}
.b-title{
    margin-top: 23px 0;
}
.b-title a{
    color: var(--text-secondary-color);
    text-decoration: underline;

}
.banner-details p{
    margin-top: 20px ;
}
.btn-section a{
    position: relative;
    margin-top: 30px;
    vertical-align: middle;
    margin-right: 30px;
}
.video-btn{
    height: 45px;
    width: 45px;
    background-color: var(--text-secondary-color);
    color: var(--primary-color);
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 45px;
    position: relative;
}
.video-btn::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    width: 45px;
    background-color: var(--text-secondary-color);
    color: var(--primary-color);
    opacity: .8;
    border-radius: 50%;
    animation: pulse-out 1.5s ease-out infinite;
}
@keyframes pulse-out{
    100%{
        opacity: 0;
        transform: scale(2);
    }
}
.btn-section span{
    display: inline;
    position: absolute;
    bottom: 12px;
    font-size: var(--fs);
    font-weight: var(--fw);
    font-family: var(--primary-font-style);
    color: var(--text-primary-color);

}
/* About Section */



.about{
    display: flex;
    justify-content: center;
    
    
}
.about-card{
    border: 1px solid #ddd;
    padding: 10px;
    transition: all 0.5s ease;

}


.about-icon img{
    display: inline-block;
    height: 85px;
    width: 85px;
   
}
.about-name,.about-card,.about-description{
    text-align: center;
    margin-top: 20px;
}
.about-name a{
    color: var(--text-primary-color);
    font-size: 20px;
    font-family: var(--primary-font-style);
    text-align: center;
    transition: all 0.5s ease;

}
.about-description{
    padding: 0 20px 20px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.about-card :hover{
    transform: scale(1.2s, 0.5s);
    color:var(--text-secondary-color); 
}
.about-description a{
    font-size: var(--fs);
    color: var(--description-color-dark);
}

.about-card .about-description{
    background-image: url(../images/About/about-bg.png);
    
}
.subscribe-main{
    background-image: url(../images/subscribe-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe{
    padding: 100px 0;
    background: #0000007d;
    position: relative;
}
.sub-title{
    color: var(--primary-color);
    font-size: 30px;
    line-height: var(--ln);
    margin-bottom: 5px;
    font-family: var(--primary-font-style);

}
.sub-des{
    color: var(--primary-color);
}
.input-field, .form-handle{
    display: flex;
    justify-content: flex-start;
    padding: 0 30px 30px;
    
}
.form-handle{
    width: 90%;
    height: 40%;
    padding: 10px;
}
.form-handle,.btn