*{
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --primary-color:#fff;
    --primary-color-rgb:255, 255, 255;
    --secondary-color:#121212;
    --secondary-color-rgb:18, 18, 18;
    --text-primary-color:#292929;
    --text-primary-color-rgb:41, 41, 41;
    --text-secondary-color:#cc3333;
    --text-secondary-color-rgb:204, 51, 51, ;
    --description-color-dark-300:#292929c9;
    --description-color-dark-300-rgb:41, 41, 41, 0.788;
    --description-color-dark:#666;
    --description-color-light:#ffffff;
    --primary-font-style: Roboto;
    --secondary-font-style: Lobster Two,cursive;
    --bg:#fff;
    --fs:15px;
    --fw: 500;
    --ln:1.5;
    --gw:15px;

}
body{
    background-color: var(--bg);
    font-family: var(--primary-font-style);
    color:var(--text-primary-color);
    font-weight: var(--fw);
    line-height: var(--ln);

}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    max-width: 100%;
    display: block;

}
img, svg{
    vertical-align: middle;
}
ol,ul{
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--primary-font-style);
    font-weight: 700;
    line-height: var(--ln);
    color: var(--text-primary-color);

}
h1{
    font-size: 50px;
}
p{
    font-size: var(--fs);
    font-family: var(--primary-font-style);
    color: var(--description-color-dark);
    font-weight: 400;
    line-height: 25px;
}
.btn,.sm-btn{
    display: inline-block;
    color: var(--primary-color);
    border: none;
    border-radius: 3;
    transition: 0.3s;
    
}
.btn{
    padding: 10px 25px;
    background-color: var(--text-secondary-color);
}
.btn:hover{
    color: var(--primary-color);
    background-color: var(--text-primary-color);
}
.sm-btn{
    padding: 6px 10px;
    background-color: var(--text-primary-color);
    
}

.sm-btn:hover{
    color: var(--primary-color);
    background-color: var(--text-secondary-color);
}

.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gw);
    padding-right: var(--gw);
    height: auto;
    position: relative;
    
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(1* var(--gw));
    margin-right: calc(1* var(--gw));
    max-width: 1320px;
    margin: 0px auto;
    
    
}
.col-one{
    width: 8.33%;
}
.col-two{
    width: 16.66%;
}
.col-three{
    width: 25%;
}
.col-four{
    width: 33.33%;
}
.col-five{
    width: 41.66%;
}
.col-six{
    width: 50%;
}
.col-seven{
    width: 58.33%;
}
.col-eight{
    width: 66.66%;
}
.col-nine{
    width: 75%;
}
.col-ten{
    width: 83.33%;
}
.col-eleven{
    width: 91.66%;
}
.col-twelve{
    width: 100%;
}
.col-one,.col-two,.col-three,.col-four,.col-five,.col-six,
.col-seven,.col-eight,.col-nine,.col-ten,.col-eleven,.col-twelve{
    padding-right: var(--gw);
    padding-left: var(--gw);

}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.justify-start{
    justify-content: flex-start;
}
.text-center{
    text-align: center;
}
/* topbar */

nav{
    display: block;
}
.nav-logo{
    position: absolute;
    height: auto;
    width: 150px;
    padding: 10px 0;
    
}

.contact{
    display: inline-flex;
    color: var(--description-color-dark);
    margin: 10px;
    gap: 10px;
    transition: all 0.5s ease;
    
}

.contact:hover, .nav-list li a:hover,.nav-list li i:hover{
    transform: scale(1.2s, 0.5s);
    color:var(--text-secondary-color);
    
}
.contact img{
    gap: 10px;
}
.topbar .col-three{
    padding-left: 0;
}
.navbar{
    padding-left: 0;
    z-index: 1;
    transition: all .03s ease;   
}

.nav-list{
    display: flex;
    gap: 30px;
    padding: 10px 0;
    position: relative;
    flex-wrap: wrap;  
}

.nav-list li a {
    font-size: 16px;
    font-weight: 500;
    color: var(--description-color-dark);   
}

.container .col-nine{
    position: absolute;
    right: 0;
    left: -10;  
}
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown .dropdown-menu{
    display: block;
    position: absolute;
    top: 120%;
    border-top: 3px solid red;
    visibility: hidden;
    transition: all 0.1s ease;
    
}
.dropdown-menu ul li a{
    display: block;
    padding: 10px 10%;
    line-height: 25px;
    width: 200px;
    background-color: var(--primary-color);
    box-shadow: 1px 17px 20px 1px #5958581c;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 15px;
    font-weight: 300;   
}
.dropdown-menu ul li a:hover{
    background-color: lightgray;
    transform: scale(0.8s);
    visibility: visible;
}
.dropdown:hover .dropdown-menu{
    visibility: visible;
    transform: scale(1.3s);
}
.dropdown img{
    margin: 3px;
    padding-top: 3px;
    color: var(--description-color-light);
    width: 12px;  
}
.dropdown:hover img{
    transform: rotate(180deg);
    margin-top: 8px;   
}
/* Banner */
.banner{
    background-image: url(../images/banner-bg.jpg);
    height: 760px;
    position: relative; 
}
.banner .row{
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
    line-height: 20px; 
}
.banner-details{
    margin-right: 10px;
    margin-top: 10%;
    position: absolute;
    top: 100px;
    padding-left: 17px;
    left: 0;   
}
.s-title{
    color: var(--text-secondary-color);
    font-size: 23px;
    font-weight: 600;
    font-family: var(--secondary-font-style);
    display: inline-block;
    margin-bottom: 10px;
}
.b-title{
    margin-top: 23px 0;
    font-size: 36px;
}
.banner-title a{
    color: var(--text-secondary-color);
    text-decoration: underline;

}
.banner-details p{
    margin-top: 20px ;
}
.btn-section a{
    position: relative;
    margin-top: 30px;
    vertical-align: middle;
    margin-right: 30px;
}
.video-btn{
    height: 45px;
    width: 45px;
    background-color: var(--text-secondary-color);
    color: var(--primary-color);
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 45px;
    position: relative;
}
.video-btn::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    width: 45px;
    background-color: var(--text-secondary-color);
    color: var(--primary-color);
    opacity: .8;
    border-radius: 50%;
    animation: pulse-out 1.5s ease-out infinite;
}
@keyframes pulse-out{
    100%{
        opacity: 0;
        transform: scale(2);
    }
}
.btn-section span{
    display: inline;
    position: absolute;
    bottom: 12px;
    font-size: var(--fs);
    font-weight: var(--fw);
    font-family: var(--primary-font-style);
    color: var(--text-primary-color);
}
.social-section{
    display: flex;
    position: absolute;
    bottom: 50%;
    right: -100px;
    transform: rotate(90deg); 
}
.social-section li{
    padding: 12px;
}
.social-section li a{
    font-weight: 450;
    font-size: 16px;
    color: #666;
    transition: all 0.3s;
    padding-top: 10px;
}
.social-section li a:hover{
    color: var(--text-secondary-color);
    text-decoration: underline;
}

/* feature Section */

.feature{
    display: flex;
    justify-content: center;
}
.space-padding{
    padding-top: 105px;
    padding-bottom: 105px;
}
.feature-card{
    border: 1px solid #ddd;
    padding: 10px;
    /* transition: .6s; */

}
.feature-card:hover{
    border-color: var(--primary-color);
    background: var(--primary-color);
    box-shadow: 0 0 20px 1px #e7e6e6 ;
}

.feature-icon img{
    display: inline-block;
    height: 85px;
    width: 85px;
   
}
.feature-name,.feature-card,.feature-description{
    text-align: center;
    margin-top: 20px;
}
.feature-name a{
    color: var(--text-primary-color);
    font-size: 20px;
    font-family: var(--primary-font-style);
    text-align: center;
    transition: all 0.5s ease;

}
.feature-description{
    padding: 0 20px 20px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.feature-card:hover .discover-bt , 
.feature-card:hover .feature-name a{
    transform: scale(1.2s, 0.5s);
    color:var(--text-secondary-color); 
}
.feature-description a{
    font-size: var(--fs);
    color: var(--description-color-dark);
    
}

.feature-card .feature-description{
    background-image: url(../images/feature/feature-bg.png);
    
}
.discover-bt{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw);
}
.discover-bt::before{
    content: '';
    width: 5px;
    height: 5px;
    background:var(--description-color-dark);
    display: inline-flex;
    transform: rotate(45deg);
    margin: 10px;
    opacity: 3;

}
.discover-bt::after{
    content: '';
    width: 5px;
    height: 5px;
    background:var(--description-color-dark);
    display: inline-flex;
    transform: rotate(45deg);
    margin: 10px;
    opacity: 3;  
}

.feature-card:hover .discover-bt::after,
.feature-card:hover .discover-bt::before{
    transform: scale(1.5),rotate(45deg);
    background: rgba(204, 51, 51, 0.5);
   

}
/* Subscribe Section */
.subscribe-main{
    background-image: url(../images/ad-banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe{
    padding: 100px 0;
    background: #0000007d;
    position: relative;
}
.sub-title{
    color: var(--primary-color);
    font-size: 30px;
    line-height: var(--ln);
    margin-bottom: 5px;
    font-family: var(--primary-font-style);

}
.sub-des{
    color: var(--primary-color);
}

.input-field, .form-handle{
    display: flex;
    justify-content: flex-start;
    padding: 0 30px 30px;
    outline: none;    
}
.form-handle .btn i{
    font-size: 15px;   
}
.form-handle{
    width: 100%;
    padding: 17px 13px;
    font-size: var(--fs);   
}

/* About Us Section */
.about-deatils{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.about-title{
    font-size: 36px;
}
.about-des {
    margin-bottom: 24px;
}
.service-list ul li{
    margin-bottom: 24px;
    display: flex;
    align-items: center;    
}
.service-icon{
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff9f4;

}
.service-name{
    margin-left: 20px;
    margin-bottom: 4px;
    margin: 15px ;
    
}
.service-name h4{
    margin-bottom: 4px;
}
.service-button {
    margin-top: 40px;
}
/* All-product section */
.all-product{
    background-image: url(../images/All-product/bg.jpg);
}

.inner-part{
    background-size: cover;
    position: 0;
}
/* Category Header Menu */
.cat-menu{
    display: flex;
    margin-bottom: 40px;
}
.cat-name{
    color: var(--description-color-dark);
    font-family: var(--secondary-font-style);
    font-size: 20px;
    transition: all 0.3s ease;
    margin-top: 10px;   
}
.cat-items{
    padding: 1px 10px;
    cursor: pointer;
    margin: 7px 3px 3px;
}
.cat-items img{
    width: 70px;
}
.cat-items:hover .cat-name{
    color: var(--text-secondary-color);
    border-bottom:2px solid  var(--text-secondary-color);
    padding-bottom: 5px;
}
.cat-items:first-child{
    color: var(--text-secondary-color);
    border-bottom:2px solid  var(--text-secondary-color);
    padding-bottom: 5px;
}
/* product list */
.product-card{
    padding: 0;
    box-shadow: 0 0 41px 1px #f0f0f0;
    background: var(--primary-color);
    overflow: hidden;
}

.all-product .product-img img{
    width: 600px;
    overflow: hidden;
    object-fit: cover;
    height: 100%;   
}
.product-img{
    background-color: var(--primary-color);
    position: relative;
    transition: all 0.3s;
    overflow: hidden;   
}
.product-card:hover .product-img{
    transform: scale(1.1);  
}
.product-details{
    padding: 25px;
}
.product-name{
    color: var(--text-primary-color);
    font-weight: var(--fw);
    font-size: 17px;
    display: block;
    margin-bottom: 10px;
    transition: 0.3s;
}
.product-desc{
    margin: 10px 0;
}
.cart-price-wishlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delivery-charge{
    color: var(--text-secondary-color);
}
.cart-wishlist{
    display: flex;
    gap: 5px;
}
.cart-wishlist .wishlist-btn{
    visibility: hidden;
    background: none;
    border: 1px solid #ddd;
    transition: all .1s ease;
}

.product-card:hover .wishlist-btn{
    visibility: visible;   
}
.product-card:hover .sm-btn:not(:first-child){
    background-color: var(--text-secondary-color);   
}
/* App Section */
.app-section{
    margin: 56px 0 82px;
    position: relative;
}
.app-inner{
    background-repeat: no-repeat;
    background-size:cover ;
    background-image: url(../images/App-part/app-bg.png);
}   
.app-content{
    padding: 50px;
}
.app-content h2{
    font-size: 36px;
    margin-bottom: 0;
}
.app-content p{
    padding: 15px 0;
    margin: 8px 0;
}
.store img{
    width: 150px;
    margin: 15px 10px 0 0;
}
.app-section .app-img img{
    margin-top: 50px;
    width: 300px;
}
.app-one{
    position: absolute;
    right: -20px;
    bottom: 50px;
    animation: app-one 1.5s linear infinite alternate;
    transition: all 0.5s ease;
    animation-play-state: running;
    
}
.app-two{
    position: absolute;
    right: 300px;
    animation: app-two 1.5s linear infinite alternate;   
}

@keyframes app-one{
    
    0%{
        top: -100px;
    }
    100%{
        top: -20px;
    }
}

@keyframes app-two{
    
    0%{
        top: -20px;
    }
    100%{
        top: -60px;
    }
}
.mb-0{
    margin-bottom: 0;
}
.mt-40{
    margin-top: 40px;
}
/* Available Section */
.available{
    margin-bottom: 120px;
    background-image: url(../images/available/subscribe-bg.png);
}
.bg-available{
    background:#0000007d;
    padding: 60px 0;
}
.avai-inner{
    position: relative;
}
.available-content h2{
    color: var(--primary-color);
    margin: 20px 0;
    font-size: 36px;
}
.available-content p{
    color: var(--primary-color);
    font-weight: 400;
}
.avail-inner{
    position: relative;
    width:100%;
    margin-top: 20px;
}
.avail-note{
    position: absolute;
    background:var(--primary-color);
    width: 100%;
    padding: 40px 20px;
    box-shadow: 0 15px 20px 1px #9c9c9c52;
}
.note-head{
    padding-bottom: 20px;
    text-align: center;
}
.avail-note ul li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #ddd;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: #cc3333;
}
.avail-note ul li:hover{
    border-bottom: 1px dashed var(--text-secondary-color);
}
.avail-note ul li:hover p,.note-text:hover{
    color: var(--text-secondary-color);
}
.note-footer{
    text-align: center;
    padding-top: 25px;
    /* padding-bottom: 10px; */
    font-family: var(--secondary-font-style);
    font-size: 22px;
    cursor: pointer;
}
.note-text{
    font-family: var(--secondary-font-style);
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 700;
    color: var(--text-primary-color);
}
/* Team Section */
.team{
    padding-top: 105px;
    margin-bottom: 80px;
}
.team-head{
    text-align: center;  
}
.team-card{
    text-align: center;
    box-shadow: 0 9px 20px 1px #98767626;
    overflow: hidden;
}
.team-card img{
    width: 100%;
    overflow: hidden;
    transition: all 0.6s ease;
    aspect-ratio: 1.08;
}
.team-image a{
    display: block;
    cursor: default;
}
.team-card:hover img{
    transform: scale(1.1);
    
}
.team-details{
    padding: 20px 15px;
}
.team-details h3{
    padding-bottom: 7px;
    transition: .3s;
    font-weight: 600;
    display: block;
    cursor: pointer;
}
.team-details h3:hover{
    color: var(--text-secondary-color);
}
.team-card::after{
    content: '';
    height: 2px;
    width: 60%;
    background: #000;
    display: block;
    margin: auto;
    transition: .3s;
}
.team-card:hover::after{
    background: var(--text-secondary-color);
}
/* Partner */
.partner{
    background-image: url(../images/partner/partner-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.partner-bg{
    padding: 82px 0;
    background: #00000096; 
}
.partner-logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;  
}
.partner-logo img{
    width: 350px;
    height: 60px;  
}

/* Customer Section */
.customer{
    padding-top: 105px;
    padding-bottom: 105px;
    
}
.customer-heading{
    text-align: center;
    padding-bottom: 40px;
}
.customer-heading .s-title{
    font-weight: 400;

}
.customer-heading h2{
    font-size: 36px;
}
.review{
    box-shadow: 0 0 13px 1px #ddd;
    border-left: 2px solid var(--text-secondary-color);
    height: 100%;
    padding: 25px 50px 50px;
}
.review h2{
    font-size: 36px;
}
.review p{
    padding: 20px 0;
    margin-bottom: 0;
}
.customer-name span{
    font-size: 13px;
    font-weight: 400;
}
.customer-img{
    height: 430px;
    overflow: hidden;
    
}
.customer-img img{
    width: 85%;
}
/* Latest Blog */
.l-blog{
    padding-top: 105px;
    padding-bottom: 105px;
    background-image: url(../images/Latest-blog/bg-blog.png);
}
.blog-card{
    background: var(--primary-color);
    box-shadow: 0 5px 20px 1px #00000029;
    overflow: hidden;
}
.blog-img{
    overflow: hidden;
    transition: 0.6s;
}
.blog-img img{
    width: 500px;
    overflow: hidden;
}
.blog-img:hover{
    transform: scale(1.1);
}
.blog-head{
    text-align: center;
    
}
.blog-content{
    padding: 20px 25px;
}

.blog-content h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}
.blog-content p{
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}
.blog-date{
    display: flex;
    justify-content: space-between;
}
.blog-date{
    padding: 0 20px 25px 25px ;
    
}
.blog-date a{
    color: var(--description-color-dark);
    font-family: var(--primary-font-style);
    border-bottom: 2px solid #7a7a7a;
    font-weight: 400;
    transition: 0.1s;
}
.blog-date a:hover{
    color: var(--text-secondary-color);
    border-bottom: 2px solid var(--text-secondary-color);
}
/* footer part */
.footer-part{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/footer/footer-bg.png);
    padding-top: 65px;
}

.footer-content img{
    margin-bottom: 24px;
}
.footer-content p{
    color: var(--primary-color);
}
ul.address li{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
ul.address li span i{
    font-size: 30px;
}
ul.address li p{
    padding-left: 12px;
    line-height: 20px;
}
ul.address li p a{
    color: var(--primary-color);
    transition: 0.3s;
}

.footer-head{
    margin-bottom: 24px;
}
.footer-head h4{
    color: var(--primary-color);
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
}
.footer-head h4::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 70%;
    background:var(--primary-color);
    bottom: 0;
    left: 0;
}

.foot-list a{
    color: var(--primary-color);
    margin: 5px;
    font-size: 15px;
    transition: 0.3s;
}
.foot-list a:hover, ul.address li p a:hover{
    color: var(--text-secondary-color);
}
.pl-40{
    padding-left: 40px;
}
.mb-40{
    margin-bottom: 20px;
}

.footer-img{
    display: inline-flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    margin-top: 10px;
}
.footer-img img{
    margin-bottom: 8px;
    margin-left: 8px;
    width: 30%;
    
}
.footer-content p{
    width: 120%;
}
.footer-content .form-handle{
    outline: var(--text-secondary-color);
    width: 125%;
    height: 44px;
    padding-left: 0;
}
.footer-content .btn{
    height: 44px;
}
.social-icons{
    display:flex;
    padding-top: 20px;
    gap: 20px;
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
}
.footer-content .icon i:hover{
    color:red;
}
/* footer last */
.footer-last{
    padding: 20px 0;
    border: 1px solid #444;
    margin-top: 65px;
   
}
.footer-last p{
    color: var(--primary-color);
}
